body{
    background-color: rgb(255, 255, 242);
    font-size: 20px;
}
.center{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: cadetblue;
    border-radius: 10px;
    color:rgb(252, 252, 241);
    padding: 20px;
}
input[type=submit], button{
    margin-top: 12px;
    background-color: beige;
    border-radius: 5px;
    width: 140px;
    height:40px;
    font-size: 20px;
    font-family: serif;
}
input[type="submit"]:hover, button:hover{
    background-color:darksalmon;
    color:beige;
}
.postfield{
    min-width: 400px;
}
table{
    border-collapse: collapse;
    color:rgb(252, 252, 241);
    width: 600px;
}
td{
    border-bottom: 0.8px solid rgb(252, 252, 241);
}
th{
    text-align: left;
    border-bottom: 1.5px solid rgb(252, 252, 241);
}